/* ContactUs.css */
.contact-us-container {
  max-width: 500px;
  margin-top: 60px;
  margin-left: 600px;
  padding:10px;
  box-shadow: 0 0 10px rgba(242, 11, 11, 0.1);
  padding-top: 80px;
  background: linear-gradient(90deg, #e18fa2, #b269c7);

}
body{
    
  background: linear-gradient(90deg, #9a2dcc, #b269c7);

}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group textarea {
  height: 150px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
