
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 100px); /* Accounting for header/footer */
  padding-bottom: 100px; /* Extra padding at the bottom */
}



.video-container {
  width: 90%;
  max-width: 1000px;
  aspect-ratio: 16 / 9;
  margin: 20px 0;
}


.file-preview {
  width: 100%; /* Use the full width of the container */
  max-width: 1200px; /* Increase max width for larger preview */
  height: 600px; /* Height will be auto to maintain aspect ratio */
  margin: 0 auto; /* Center it horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* To ensure no overflow if content is very large */
}

.preview-image, .preview-pdf, .video-container {
  max-width: 100%; /* Ensure they never exceed the size of the container */
  max-height: 90vh; /* Adjusted to use 90% of the viewport height */
}