Container for the dropdown button
.dropdown {
    position: fixed; /* Fixed position to stay on the left */
    top: 0;
    left: 0;
    z-index: 1; /* Make sure it stays on top */
  }
  
  /* The dropdown button */
  .dropbtn {
    background-color: #b135e6;
    color: white;
    padding: 40px;
    width: 256px;
    height: 66;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 256px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #83c4e4;
  }
  