.footer {
  position: fixed;
  bottom: 0;
  padding-top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; 
  background-color: hsl(223, 54%, 66%);
  padding: 1px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

