
.navbar {
  position: sticky;
  top: 0;
  z-index: 1020; 
}
.card-img {
  width: 100%; 
  height: auto; 
}

.modal-header {
  background-color: #007bff;
  color: #fff;
}


.card-img-top {
  width: 80%;
  height: 180px; 
  object-fit: cover;
}

.accordion-item {
  background-color: #f8f9fa;
  border: 1px solid #ebebeb;
}


.carousel-item {
  height: 500px; 
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.welcome-message {
  font-size: 30px; 
  font-weight: bold; 
}

.welcome-description {
  font-size: 30px; 
  margin-bottom: 1rem; 
}
body{
  background: linear-gradient(90deg, #b33ca1, #b269c7);

}
.page-title {
  color: white; 
  font-size: 40px; 
  font-weight: bold; 
  padding-right: 30px;
padding-left: 50px}


.card-img-top {
  width: 100%; 
  height: auto;
}

.modal-body {
  padding: 15px; 
}

.row {
  margin-right: 0;
  margin-left: 0;
}

