.menuImg {
  background-image: url('../assets/menuImg.jpg');
    background-size: cover;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 256px; 
    height: 100vh; 
    margin-top:96px ;
    z-index: -1;
  }
    