.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: #8b11d1; 
  color: white; 
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none; 
  color: white; 
}

.navbarLogo {
  height: 60px;
  padding-left: 200px;
}

.logoText {
  font-size: 35px; 
  font-weight: bold; 
}

.links {
  display: flex;
  align-items: center;
  gap: 20px; 
  padding-right: 50px; 
}


.links a {
  color: white; 
  text-decoration: none; 
  font-size: 17px; 
  transition: color 0.3s; 
}

.links a:hover {
  color: #be8cf0; 
}

.links a:focus, .links a:active {
  outline: none;
}
