body {
  background-color: #ffffff;
}

.text {
  font-family: raleway;
  font-size: 40px;
  position: absolute center;
  text-align: center;
  padding-left: 0%;
  color: #000;
  margin-top: 43px;
}

.text1 {
  font-family: raleway;
  font-size: 40px;
  text-align: center;
  margin-top: -20px;
  color: #000;
}

.image {
  text-align: center;
  box-shadow: 0 0 0 1px #777272;
  background-color: #a18181; 
  margin-top: 20px;
  margin-bottom: -30px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px;
}

.trick {
  display: inline-block;
  vertical-align: middle;
  height: 150px;
}

.image:hover {
  box-shadow: 0px 5px 20px .9px #3F3F3F;
}

.image:hover {
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
  -webkit-transition: 1.6s ease-in-out;
  transition: 1.6s ease-in-out;
}

.trick:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

#overlay {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  padding: 0 0 0 0;
  opacity: 1.0;
  -webkit-transition: opacity 2.25s ease;
  -moz-transition: opacity 10.25s ease;
}

#box:hover #overlay {
  opacity: 1;
}

.panel-group {
  width: 350px;
  margin: auto;
  max-width: 100%;
}

.panel-heading {
  background-color: transparent !important;
}

.title {
  text-align: center;
  background-color: transparent;
  color: #000;
  font-family: lato;
  font-weight: 300;
  font-size: 15px;
  max-width: 100%;
}

#accordion {
  background-color: transparent;
  max-width: 100%;
  margin-bottom: 200px;
}

.btn-outline {
  color: inherit;
  transition: all 1.4s;
  background-color: transparent;
}

.btn-danger.btn-outline {
  margin-top: 9px;
  background-color: transparent;
  color: #000;
  border-color: #000;
  padding: auto;
  padding: 10px 0px 10px 0px;
  margin: 1px 5px 1px 0px;
  width: 100%;
  text-align: center;
  font-family: raleway;
  font-weight: 300;
  max-width: 100%;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #000;
  font-size: 15px;
}

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #fff;
  font-size: 15px;
  font-family: raleway;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: #fff;
  font-family: raleway;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color: #453a3a;
  font-size: 15px;
  font-family: raleway;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color: #524242;
  font-family: raleway;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #000000;
  font-size: 15px;
  font-family: raleway;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #2a2323;
  font-family: raleway;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #fff;
  font-size: 15px;
  font-family: raleway;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
  color: #fff;
  font-family: raleway;
}

#form {
  position: relative;
  width: 100%;
  margin: 0px auto 0px auto;
  font-family: raleway;
}

input {
  font-family: raleway;
  font-size: 15px;
  width: 100%;
  height: 50px;
  padding: 0px 12px 0px 12px;
  background: transparent;
  outline: none;
  color: #726659;
  border: solid 1px #000000;
  border-bottom: none;
  transition: all 0.9s ease-in-out;
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -ms-transition: all 0.9s ease-in-out;
}

input:hover {
  background: #ccc;
  color: #fff;
  font-family: raleway;
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #000;
  font-family: raleway;
  font-size: 45px;
  border: solid 1px #eee;
  transition: all 0.9s ease-in-out;
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -ms-transition: all 0.9s ease-in-out;
}

textarea:hover {
  background: #ccc;
  color: #fff;
  font-family: raleway;
}

#submit {
  width: 100%;
  padding: 0;
  font-family: raleway;
  font-size: 20px;
  color: #000;
  outline: none;
  cursor: pointer;
  border: solid 1px #eee;
  border-top: none;
  margin-bottom: 0px;
}

#submit:hover {
  color: #fff;
  background-color: #101010;
}
.profile-img {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  position: relative;
  width: 300px; 
  height: 300px;
  overflow: hidden; 
}

.profile-pic-container img {
  width: 60%;
  height: 60%;
  object-fit: cover; 
  border-radius: 50%; 
}


.profile-pic-container input[type="file"] {
  position: absolute;
  opacity: 0;
  width: 40%;
  height: 80%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.profile-pic-container button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.profile-pic-container .file {
  position: absolute;
  bottom: -20px; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 100%; 
  text-align: center; 
}
.container.emp-profile {
  padding: 40px;
  border-radius: 0.5rem;
  background-color: #343a40; 
}

.profile-img-container {
  text-align: center;
}

.profile-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.text {
  color: white; 
}

.btn {
  margin-top: 10px;
}
