
.card {
  width: 1000px; 
  height: 500px; 
  margin: auto; 
  display: flex;
  flex-direction: column; 
}

.card-header {
  background-color: #f5f5f5;
}

.list-group {
  overflow-y: 0;
}

.card-title {
  font-size: 1.25rem; 
  margin-bottom: 0.5rem; 
}

.card-body {
  padding: 1rem;
  flex-grow: 1;
}

.card-footer button {
  margin: 0 0.5rem; 
}

.card-footer {
  display: flex;
  justify-content: center; 
}

.list-group-item.active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

@media (max-width: 768px) {
  .card {
    width: 90%; 
    height: auto; 
  }
}

.list-group-item {
  cursor: pointer; 
  transition: background-color 0.2s;
}

.list-group-item:not(.active):hover {
  background-color: #007bff;
  color: white; 
}

.list-group-item.active {
  background-color: #0056b3;
  color: white;
  border-color: #0056b3;
}
