.page-container {
  margin: auto;
  max-width: 1400px;
  background-color: #ae42e9; /* Choose your desired color */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.subjects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.subject-link {
  text-decoration: none;
  color: inherit;
}

.subject-card {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.subject-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

@media (max-width: 768px) {
  .subjects-container {
    justify-content: center;
  }
  .subject-card {
    width: 80%; /* Full width on smaller screens */
    margin-bottom: 20px;
  }
}

/* Optional: If you want exactly the same styling as .card-custom */
.subject-card {
  min-height: 450px;
  max-width: 300px;
  margin: 25px;
  /* Rest of the styles */
}

/* Optional: If you want to use the .card-custom-img styles */
.subject-card img {
  height: 200px;
  background-size: cover;
  background-position: center;
}
