.card-custom {
  overflow: hidden; /* Hide overflow to manage child elements like images and after-effects */
  min-height: 450px; /* Minimum height of the card */
  max-width: 300px; /* Maximum width of the card */
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3); /* Shadow for 3D effect */
  position: relative; /* Relative position for absolute positioning of children */
  margin: 25px; /* Margin to create space between cards */
}

.card-custom-img {
  height: 200px; /* Fixed height for the image section */
  background-repeat: no-repeat; /* No repeat of the background image */
  background-size: cover; /* Cover the entire div with the background */
  background-position: center; /* Center the background image */
}

/* After pseudo-element to create a diagonal slice effect */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw); /* Responsive width using viewport width */
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit; /* Inherits the border color from the parent */
}

.card-custom-avatar img {
  border-radius: 50%; /* Circular image for avatar */
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3); /* Shadow for the avatar for depth */
  position: absolute;
  top: 100px; /* Position from the top inside the card */
  left: 1.25rem; /* Position from the left inside the card */
  width: 100px; /* Width of the avatar */
  height: 100px; /* Height of the avatar */
}
